---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import LatestPosts from '../components/LatestPosts.astro';
---

<BaseLayout title="首页 | My Blog" description="老年人、瞎折腾、爱生活">
  <main>
    <Hero />
    <LatestPosts />
  </main>
</BaseLayout>
