---
import BaseHead from '../components/BaseHead.vue';
import Navigation from '../components/Navigation.vue';
import '../styles/code.css';

const { title, description, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <BaseHead title={title} description={description} image={image} client:load />
  </head>
  <body class="min-h-screen bg-cream-100 dark:bg-gray-900 transition-colors duration-200">
    <Navigation client:load />
    <slot />
    <script src="../scripts/copy-code.ts"></script>
  </body>
</html>

<style>
  html, body {
    min-height: 100vh;
  }
</style>
